In [1]:
import boto3
import pandas as pd
from io import StringIO

# Read Data

In [3]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('xetra-1234')
bucket_obj1 = bucket.objects.filter(Prefix='dataset/2022-01-11/')
bucket_obj2 = bucket.objects.filter(Prefix='dataset/2022-01-12/')

In [53]:
objects = [obj for obj in bucket_obj1] + [obj for obj in bucket_obj2]
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-11/2022-01-11_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='dataset/2022-01-12/2022-01-12_BINS_XETR23.csv')]

In [54]:
df_all = pd.DataFrame()
for obj in objects:
    csv_obj = bucket.Object(key = obj.key).get().get('Body').read().decode('utf-8')
    data = StringIO(csv_obj)
    df = pd.read_csv(data,delimiter = ',')
    df_all = pd.concat([df_all,df])
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-11,08:00,14.400,14.520,14.380,14.380,5272,6
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-01-11,08:00,35.980,35.980,35.900,35.900,1781,6
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-01-11,08:00,13.700,13.730,13.670,13.700,15030,20
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-01-11,08:00,193.700,193.700,192.650,192.900,1616,23
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-01-11,08:00,36.620,36.740,36.620,36.660,3525,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13050,DE0007500001,TKA,THYSSENKRUPP AG O.N.,Common stock,EUR,2505105,2022-01-12,16:44,10.815,10.815,10.815,10.815,675,2
13051,DE0005760029,AB9,ABO WIND AG O.N.,Common stock,EUR,5109229,2022-01-12,16:44,57.800,57.800,57.800,57.800,25,2
13052,IE00BYZK4552,2B76,ISHS IV-AUTO.+ROBOTIC.ETF,ETF,EUR,2505551,2022-01-12,16:45,12.026,12.026,12.026,12.026,23,2
0,IT0005143547,EM8,ENERGICA MOTOR CO.S.P.A.,Common stock,EUR,7026075,2022-01-12,20:35,3.060,3.060,3.060,3.060,0,1
1,DE000A3MQC88,DPWN,DEUTSCHE POST AG NA NEUE,Common stock,EUR,7258829,2022-01-12,20:35,55.000,55.000,55.000,55.000,0,1

In [55]:
df_all.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [56]:
columns = ['ISIN','Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume', 'NumberOfTrades']
df_all = df_all[columns]
df_all.dropna(inplace=True)
df_all.columns = [x.lower() for x in df_all.columns]

C:\Users\noori\AppData\Local\Temp\ipykernel_4976\2617309335.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all.dropna(inplace=True)

In [57]:
df_all

,isin,date,time,startprice,maxprice,minprice,endprice,tradedvolume,numberoftrades
0,AT0000A0E9W5,2022-01-11,08:00,14.400,14.520,14.380,14.380,5272,6
1,DE000A0DJ6J9,2022-01-11,08:00,35.980,35.980,35.900,35.900,1781,6
2,DE000A0D6554,2022-01-11,08:00,13.700,13.730,13.670,13.700,15030,20
3,DE000A0D9PT0,2022-01-11,08:00,193.700,193.700,192.650,192.900,1616,23
4,DE000A0HN5C6,2022-01-11,08:00,36.620,36.740,36.620,36.660,3525,14
...,...,...,...,...,...,...,...,...,...
13050,DE0007500001,2022-01-12,16:44,10.815,10.815,10.815,10.815,675,2
13051,DE0005760029,2022-01-12,16:44,57.800,57.800,57.800,57.800,25,2
13052,IE00BYZK4552,2022-01-12,16:45,12.026,12.026,12.026,12.026,23,2
0,IT0005143547,2022-01-12,20:35,3.060,3.060,3.060,3.060,0,1
1,DE000A3MQC88,2022-01-12,20:35,55.000,55.000,55.000,55.000,0,1

# Get Opening Price Per ISIN and Day

In [58]:
df_all.reset_index(drop=True,inplace=True)
df_all['opening_price'] = df_all.sort_values('time').groupby(['isin','date'])['startprice'].transform('first')
df_all['closing_price'] = df_all.sort_values('time').groupby(['isin','date'])['endprice'].transform('last')
df_all = df_all.sort_values(['date','isin']).reset_index(drop=True)
df_all

C:\Users\noori\AppData\Local\Temp\ipykernel_4976\216097555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['opening_price'] = df_all.sort_values('time').groupby(['isin','date'])['startprice'].transform('first')
C:\Users\noori\AppData\Local\Temp\ipykernel_4976\216097555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['closing_price'] = df_all.sort_values('time').groupby(['isin','date'])['endprice'].transform('last')

,isin,date,time,startprice,maxprice,minprice,endprice,tradedvolume,numberoftrades,opening_price,closing_price
0,AT000000STR1,2022-01-11,09:51,37.000,37.000,37.000,37.000,40,1,37.000,37.300
1,AT000000STR1,2022-01-11,10:53,36.750,36.750,36.600,36.600,100,2,37.000,37.300
2,AT000000STR1,2022-01-11,16:35,37.300,37.300,37.300,37.300,0,2,37.000,37.300
3,AT00000FACC2,2022-01-11,16:18,7.780,7.780,7.780,7.780,1,1,7.780,7.870
4,AT00000FACC2,2022-01-11,16:35,7.870,7.870,7.870,7.870,0,2,7.780,7.870
...,...,...,...,...,...,...,...,...,...,...,...
227233,XS2376095068,2022-01-12,11:40,37.920,37.920,37.904,37.904,3918,3,37.456,38.128
227234,XS2376095068,2022-01-12,12:12,37.780,37.780,37.780,37.780,0,1,37.456,38.128
227235,XS2376095068,2022-01-12,13:30,38.510,38.510,38.510,38.510,69,1,37.456,38.128
227236,XS2376095068,2022-01-12,16:17,38.000,38.000,38.000,38.000,20,1,37.456,38.128
227237,XS2376095068,2022-01-12,16:36,38.128,38.128,38.128,38.128,0,2,37.456,38.128

# Aggregations

In [61]:
df_all = df_all.groupby(['isin','date'],as_index=False).agg(opening_price_euro=('opening_price','min'),
                                                            closing_price= ('closing_price','min'),
                                                           minimun_price_euro= ('minprice','min'),
                                                           maximum_price_euro = ('maxprice','max'),
                                                           daily_traded_volume=('tradedvolume','sum'))

# Percent Change Prev Closing

In [69]:
df_all['prev_closing_price'] = df_all.sort_values('date').groupby('isin')['closing_price'].shift(1)
df_all['percent_change_prev_closing'] = (df_all.closing_price - df_all.prev_closing_price) / df_all.prev_closing_price * 100
df_all.drop(columns = 'prev_closing_price',inplace=True)

In [71]:
df_all = df_all.round(decimals = 2)